.navbar{
  margin-top: 30px;
}

.navbar a{
  text-decoration: none;
  margin-right: 40px;
  font-size: 30px;
}
.active-link{
  color: blue;
 
}
@media(max-width:500px){
  .navbar a{
    
font-size: 20px;
margin-right: 15px;
margin-left: 10px;
  }
}