
.all-container{
  margin-bottom: 40px;
}
.container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 60px;
  margin-left: 20px;
  gap: 40px;
}
.info{
  margin-left: 15px;
}

.image img{
  width: 650px;
  height: 450px;
 
  border-radius: 50px;
}
.button{
  height: 30px;
  width: 100px;
  background-color:blueviolet;
  color: gold;
  border-radius: 15px;
}
.title{
  margin-top:350px ;
}
.reviews{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 100px;
}
.see-more{
 width: 300px;
 height: 40px;
 border: 1px solid gold;
 background-color: blue;
 color: white;
 justify-content: center;
 align-items: center;
 border-radius: 15px;
 margin-left: 120px;
 padding:10px 20px;
 text-decoration: none;
}